*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body{
    /*
    background-image: url(images/grid-16x16.png);
    background-repeat: repeat;
    */
}

/* HEADER */
header{
    display: flex;
    background-color: rgba(55, 51, 97, 0.952); 
    width: 1440px;
    margin: auto;
    height: 926px;
}

.header_left, .header_right{
    margin-top: 48px;
    color: white;
    width: 50%;
}

.titre_1{
    margin-top: 96px;
    display: flex;
}

.art_1{
    font-size: 46px;
    line-height: 51px;
    color: black;
    color: #ffffff;
    font-weight: 800;
    font-family: "HK Grotesk";
}

.art_2{
    background-color: white;
    color: black;
    margin-left: 15px;
    margin-top: 8px;
    padding: 8px;
    border-radius: 5px;
    font-family: "HK Grotesk";
}

.art_3{
    margin-top: 48px;
    width: 487px;
    height: 84px;
    font-size: 25px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 600;
    font-family: "HK Grotesk SemiBold Legacy";
}

.art_4{
    margin-left: 16px;
    margin-top: 40px;
    width: 473px;
    height: 86px;
    font-size: 16px;
    line-height: 24px;
    color: #8686b3;
    font-family: "S FU IText";
}

.art_5{
    margin-top: 48px;
    display: flex;
}

.art_5 a{
    text-decoration: none;
}

.bouton_footer_1{
    display: flex;
    padding-top: 6px;
    padding-left: 20px;
    width: 157px;
    height: 39px;
    border-radius: 3px;
    background-color: #454658;
    margin-right: 50px;
}

.art_5 a:hover .bouton_footer_1{
    background-color: #616161;
}

.bouton_footer_1 .img{
    margin: 4px 7px 0 0;
}

.bouton_footer_1 .text{
    margin-top: 4px;
    height: 25px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
    font-family: "S FU IText";
}

.bouton_footer_2{
    display: flex;
    padding-top: 6px;
    padding-left: 20px;
    width: 182px;
    height: 39px;
    border-radius: 3px;
    background-color: #6578c0;
}

.art_5 a:hover .bouton_footer_2{
    background-color: #969db4;
}

.bouton_footer_2 .img{
    margin: 4px 10px 0 0;
}

.bouton_footer_2 .text{
    margin-top: 2px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
    font-family: "S FU IText";
}

.taille1{
    font-size: 18px;
}

.taille2{
    font-size: 20px;
    font-weight: bold;
}

.header_left{
    margin-left: 144px;
}

.header_right{
    margin-right: 144px;
}


/* section */
section{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 1440px;
    margin: auto;
    height: 1770px;
}

.article_1{
    width: auto;
    margin: 0 192px 0 192px;
/*    margin: 0 96px 0 96px;*/
}

.article_1 .text_1{
    margin-top: 96px;
    margin-bottom: 48px;
    font-size: 32px;
    line-height: 35px;
    color: #454658;
    font-weight: 800;
    font-family: "HK Grotesk";
    text-align: center;
}

.article_1 .text_2{
    width: 837px;
    height: 86px;
    margin: auto;
    font-size: 16px;
    line-height: 24px;
    color: #454658;
    font-family: "S FU IText";
    text-align: center;
    margin-bottom: 32px;
}

.article_1 .image_center{
    text-align: center;
}

.article_1 .text_usage{
    margin-top: 128px;
    font-size: 32px;
    line-height: 35px;
    color: #454658;
    font-weight: 700;
    font-family: "HK Grotesk";
    text-align: center;
}

.article_1 .text_initialise{
    padding-top: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #454658;
    font-family: "S FU IText";
    text-align: center;
}

.article_1 .image_fond{
    background-image: url(images/usage.svg);
}

.article_1 .image_fond{
    width: 847px;
    height: 80px;
    margin: auto;
}

.article_1 .bloc_text{
    width: 899px;
    weight: 600px;
    margin: auto;
    background-color: white;
}

.contenu_texte_ide {
    padding-top: 72px;
    width: 847px;
    height: 590px;
    margin: auto;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    font-family: "Hack";
}

/* POLICE */
.let{
    color: #5d64d2;
}

.rose{
    color: rgb(236, 89, 114);
}

.gray{
    color: rgb(165, 164, 164);
}
.orange{
    color: orange;
}


.article_2{
    display: flex;
    width: auto;
    height: auto;
    margin: 0 192px 0 192px;
}



.conteneur_bouton_1, .conteneur_bouton_2{
    width: 50%;
}

.conteneur_bouton_1 a, .conteneur_bouton_2 a{
    text-decoration: none;
}

.bouton_section_1{
    display: flex;
    padding-top: 6px;
    padding-left: 20px;
    width: 184px;
    height: 39px;
    border-radius: 3px;
    background-color: #454658;
    margin-left: 306px;
}

.conteneur_bouton_1 a:hover .bouton_section_1{
    background-color: #616161;
}

.bouton_section_1 .img{
    margin: 4px 7px 0 0;
}

.bouton_section_1 .text{
    margin-top: 4px;
    height: 25px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
    font-family: "S FU IText";
}

.bouton_section_2{
    display: flex;
    padding-top: 6px;
    padding-left: 20px;
    width: 182px;
    height: 39px;
    border-radius: 3px;
    background-color: #6578c0;
    margin-left: 18px;
}

.conteneur_bouton_2 a:hover .bouton_section_2{
    background-color: #969db4;
}


.bouton_section_2 .img{
    margin: 4px 10px 0 0;
}

.bouton_section_2 .text{
    margin-top: 2px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
    font-family: "S FU IText";
}


/* SECTION 2 */
.section_2{
    display: flex;
    flex-wrap: wrap;
    width: 1152px;
    margin: auto;
    height: 1560px;
/*    margin: 0 144px 0 144px; */
}

.bloc{
    margin-top: 112px;
    width: 50%;
}

.titre_bloc{
    margin-top: 32px;
    font-size: 24px;
    line-height: 26px;
    color: #454658;
    font-weight: 700;
    font-family: "HK Grotesk";
}

.contenu_bloc{
    margin-top: 24px;
    width: 408px;
    height: 173px;
    font-size: 16px;
    line-height: 24px;
    color: #454658;
    font-family: "S FU IText";
}

.contenu_bloc a{
    text-decoration: none;color: blue;
}

.contenu_bloc a:hover{
    text-decoration: none;color: rgb(110, 110, 248);
}

/* LOGO ET TITRE FOOTER */

.bloc_2{
    width: 100%;
}

.titre_footer{
    margin-top: 112px;
    font-size: 32px;
    line-height: 35px;
    color: #454658;
    font-weight: 700;
    font-family: "HK Grotesk";
    text-align: center;
}

.bloc_3{
    display: flex;
    width: 720px;
    margin: auto;
    }

.logo1, .logo2, .logo3{
    margin: 20px;
    text-align: center;
    width: 33.33%;
 }

 .logo1{
    margin-top: 40px;
 }

 .logo3{
    margin-top: 50px;
 }

 
footer{
    background-color: rgba(55, 51, 97, 0.952);
    height: 176px;
    width: 1440px;
    margin: auto;
}


/* font */
@font-face {
    font-family: 'HK Grotesk';
    src: url('fonts/hkgrotesk-bold-webfont.woff') format('wolf');

    font-family: 'S FU IText';
    src: url('fonts/sfuitext-regular-webfont.woff') format('wolf');

    font-family: 'Hack';
    src: url('fonts/hack-regular-webfont.woff') format('wolf');
}

