*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body{
    background-image: url(images/grid-16x16.png);
    background-repeat: repeat;
}

header{
    display: flex;
    background-color: rgba(55, 51, 97, 0.952); 
    width: 1440px;
    margin: auto;
    height: 926px;
/*    border: 10px solid yellow; */
}

.header_left, .header_right{
    margin-top: 48px;
    border:2px solid black;
    color: white;
    width: 50%;
}

.titre_1{
    margin-top: 96px;
    display: flex;
}

.art_1{
    font-size: 46px;
    line-height: 51px;
    color: black;
    color: #ffffff;
    font-weight: 800;
    font-family: "HK Grotesk";
}

.art_2{
    background-color: white;
    color: black;
    margin-left: 15px;
    margin-top: 8px;
    padding: 8px;
    border: 2px solid white;
    border-radius: 5px;
    font-family: "HK Grotesk";
}

.art_3{
    margin-top: 48px;
    width: 487px;
    height: 84px;
    font-size: 25px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 600;
    font-family: "HK Grotesk SemiBold Legacy";
}

.art_4{
    margin-top: 40px;
    width: 473px;
    height: 86px;
    font-size: 16px;
    line-height: 24px;
    color: #8686b3;
    font-family: "S FU IText";
}

.art_5{
    margin-top: 48px;
    display: flex;
}

.bouton_footer_1{
    display: flex;
    padding-top: 6px;
    padding-left: 20px;
    width: 157px;
    height: 39px;
    border-radius: 3px;
    background-color: #454658;
    margin-right: 50px;

}

.bouton_footer_1 .img{
    margin: 4px 7px 0 0;
}

.bouton_footer_1 .text{
    margin-top: 4px;
    height: 25px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
    font-family: "S FU IText";
}

.bouton_footer_2{
    display: flex;
    padding-top: 6px;
    padding-left: 20px;
    width: 182px;
    height: 39px;
    border-radius: 3px;
    background-color: #6578c0;

}

.bouton_footer_2 .img{
    margin: 4px 10px 0 0;
}

.bouton_footer_2 .text{
    margin-top: 2px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
    font-family: "S FU IText";
}

.taille1{
    font-size: 18px;
}

.taille2{
    font-size: 20px;
    font-weight: bold;
}

.header_left{
    margin-left: 144px;
}

.header_right{
    margin-right: 144px;
}

section{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 1440px;
    margin: auto;
    height: 1674px;
}

.article_1{
    border:5px solid red;
    background-color: aqua;
    width: auto;
    height: 80px;
    margin: 0 192px 0 192px;
/*    margin: 0 96px 0 96px;*/
}

.article_2{
    display: flex;
    border:5px solid orange;
    background-color: rgb(3, 117, 117);
    width: auto;
    height: 80px;
    margin: 0 192px 0 192px;

}

.conteneur_bouton_1, .conteneur_bouton_2{
    border:5px solid rgb(6, 194, 228);
    width: 50%;
}

.bouton_1{
    margin-right: 50px;
    text-align: right;
}

.bouton_2{
    margin-left: 50px;
    text-align: left;
}


.section_2{
    display: flex;
    flex-wrap: wrap;
    background-color: cadetblue;
    width: 1152px;
    margin: auto;
    height: 1560px;
/*    margin: 0 144px 0 144px; */
    border: 5px solid black;
}

.bloc{
    border: 5px solid orchid;
    width: 50%;
}

.bloc_2{
    border: 5px solid wheat;
    width: 100%;
}

.bloc_3{
    display: flex;
    border: 5px solid rgb(4, 1, 136);
    width: 720px;
    margin: auto;
    }

    .logo{
        border: 5px solid white;
        width: 33.33%;
    }

    
footer{
    background-color: rgba(55, 51, 97, 0.952);
    height: 400px;
    width: 1440px;
    margin: auto;
}


/* font */
@font-face {
    font-family: 'HK Grotesk';
    src: url('fonts/hkgrotesk-bold-webfont.woff') format('wolf');

    font-family: 'S FU IText';
    src: url('fonts/sfuitext-regular-webfont.woff') format('wolf');
}

